<ion-view view-title="<h3>{{title}}</h3>">
	<ion-content scroll="false">
	    <div class="bg-img-container animate-show" ng-hide="hcover" ng-style="{'background-image': 'url(img/posters_n.jpg)'}">
        	<img class="bg-images" imageonload="hcover = false" ng-src="img/posters_n.jpg">
        </div>
	    <div class="btn-container">
	      <a href="#/app/getmovie" class="button button-full button-calm">What to watch tonight?</a>
	      <a href="#/app/filters" class="button button-full button-energized">Configure filters</a>
	      <!--a href="#/app/watchlist" class="button button-full button-positive">My Watchlist</a-->
	    </div>
	</ion-content>
</ion-view>